@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* {
	font-family: "Cabin", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
		Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	scroll-behavior: smooth;
}

a {
	color: inherit;
	text-decoration: none;
}

header {
	backdrop-filter: blur(1rem);
	-webkit-backdrop-filter: blur(1rem);
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #fff;
}

::-webkit-scrollbar-thumb {
	background: #c4c4c4;
	border: 2px solid white;
	border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
	background: #a5a5a5;
}

#menu-toggle:checked + #menu {
	display: block;
}
